<div class="row">
    <div class="col-lg-12">
        {{peContainer editors.[parent.parent]}}
        {{peContainer editors.parent}}
        {{peContainer editors.name}}
        {{peContainer editors.description}}
    </div>
</div>