<div class="row">
    <div class="col-xs-12">
        {{#borderedEditor title=options.resources.queueTitle}}
            {{render queueComponent}}
        {{/borderedEditor}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{#borderedEditor}}
            {{render historyComponent}}
        {{/borderedEditor}}
    </div>
</div>